#
# Ignore everything unless told otherwise
/*
!.gitignore
!add_remotes.sh
!imsar_env.sh
!imsar_source_sync.sh
!install.sh
!bootlin-toolchain
!bootloader
!drivers
!README.md
!README_IMSAR.txt
!rootfs
!sources

